.instagram-name {
    margin: 20px auto;
    color: #E08E6D;
    font-family: 'Bodoni Moda', serif;
    font-size: 1.15rem;
}

.img-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 60px;
    object-fit: cover;
}